[submodule "library"]
	path = library
	url = git@github.com:uofr/h5p-php-library.git
	branch = stable
[submodule "editor"]
	path = editor
	url = git@github.com:uofr/h5p-editor-php-library.git
	branch = stable
[submodule "reporting"]
	path = reporting
	url = git@github.com:h5p/h5p-php-report.git
	branch = stable
